# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [1]:
%run parse_data.ipynb

Processing pass_off …
Processing rush_off …
Processing rz …
Processing sack …
Processing def_pass …
Processing turnover …
Processing third_down …
Processing fg …
Processing top …
Processing pen …

 Created df_game_iv with 2344 games and 16 columns.

,game_id,home_team,away_team,home_score,away_score,home_win,diff_pass_off,diff_rush_off,diff_rz,diff_sack,diff_def_pass,diff_turnover,diff_third_down,diff_fg,diff_top,diff_pen
0,2017_01_ARI_DET,DET,ARI,35,23,1,0.154381,0.141529,0.050000,-0.002727,-0.154381,3.0,0.100000,3.013248,NaN,-77.0
1,2017_01_ATL_CHI,CHI,ATL,17,23,0,-0.580534,0.453888,-0.106061,-0.028409,0.580534,0.0,-0.069930,1.777357,NaN,-13.0
2,2017_01_BAL_CIN,CIN,BAL,0,20,0,-0.796996,0.051482,-0.214286,-0.083333,0.796996,-4.0,-0.120879,NaN,NaN,-23.0
3,2017_01_CAR_SF,SF,CAR,3,23,0,-0.522071,-0.285847,-0.272727,-0.102564,0.522071,0.0,-0.356643,0.767280,NaN,6.0
4,2017_01_IND_LA,LA,IND,46,9,1,1.361458,-0.047786,0.066667,0.127742,-1.361458,4.0,0.357143,3.094148,NaN,30.0

In [2]:
df.describe()

,home_score,away_score,home_win,diff_pass_off,diff_rush_off,diff_rz,diff_sack,diff_def_pass,diff_turnover,diff_third_down,diff_fg,diff_top,diff_pen
count,2344.000000,2344.000000,2344.000000,2344.000000,2344.000000,2305.000000,2344.000000,2344.000000,2344.000000,2344.000000,1815.000000,0.0,2344.000000
mean,23.779010,21.927474,0.546075,0.004256,-0.010811,0.002372,0.002782,-0.004256,0.045648,0.019409,0.112704,NaN,2.268771
std,10.154494,9.842457,0.497979,0.464265,0.288061,0.122416,0.070155,0.464265,1.768520,0.194559,1.719014,NaN,36.708171
min,0.000000,0.000000,0.000000,-1.589303,-1.801176,-0.863636,-0.423077,-2.159788,-6.000000,-0.651515,-6.347030,NaN,-122.000000
25%,17.000000,16.000000,0.000000,-0.306462,-0.200528,-0.068182,-0.040078,-0.300871,-1.000000,-0.113636,-0.778405,NaN,-22.000000
50%,24.000000,21.000000,1.000000,0.000171,-0.021433,0.000000,0.001951,-0.000171,0.000000,0.018296,0.105750,NaN,2.000000
75%,30.000000,28.000000,1.000000,0.300871,0.177973,0.071429,0.046379,0.306462,1.000000,0.150000,0.921132,NaN,26.000000
max,70.000000,59.000000,1.000000,2.159788,0.950608,0.846154,0.310345,1.589303,6.000000,0.686869,6.267906,NaN,150.000000