# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [3]:
import pandas as pd
df_plays_2017 = pd.read_csv('play_by_play_2017.csv', low_memory=False)
df_plays_2018 = pd.read_csv('play_by_play_2018.csv', low_memory=False)
df_plays_2019 = pd.read_csv('play_by_play_2019.csv', low_memory=False)
df_plays_2020 = pd.read_csv('play_by_play_2020.csv', low_memory=False)
df_plays_2021 = pd.read_csv('play_by_play_2021.csv', low_memory=False)
df_plays_2022 = pd.read_csv('play_by_play_2022.csv', low_memory=False)
df_plays_2023 = pd.read_csv('play_by_play_2023.csv', low_memory=False)
df_plays_2024 = pd.read_csv('play_by_play_2024.csv', low_memory=False)
df_plays_2025 = pd.read_csv('play_by_play_2025.csv', low_memory=False)
# combine all the data verticaly with pd.concat. And use ignore_index so that the index from play 1 in 2017 isnt the same as from play 1 in 2025 etc.
df_plays = pd.concat([
    df_plays_2017, df_plays_2018, df_plays_2019, df_plays_2020, 
    df_plays_2021, df_plays_2022, df_plays_2023, df_plays_2024, 
    df_plays_2025
], ignore_index=True)
df_plays.describe()

,play_id,old_game_id,week,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,quarter_end,drive,sp,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
count,414084.000000,4.140840e+05,414084.000000,382051.000000,413920.000000,413920.000000,413920.000000,414084.000000,408973.000000,414084.000000,...,414084.000000,414084.000000,409372.000000,143533.000000,143533.000000,143533.000000,143533.000000,143533.000000,312992.000000,304616.000000
mean,2143.589897,2.020968e+09,9.420864,48.590816,409.044253,804.146688,1704.172780,0.017294,11.588860,0.074169,...,0.086441,0.506875,0.000096,0.720995,5.449664,3.616012,0.782278,0.584023,0.627877,-0.811287
std,1252.738856,2.476339e+06,5.456621,24.243033,282.296279,561.144506,1059.021677,0.130363,6.712635,0.262045,...,0.281015,0.499953,1.241268,0.524134,2.501563,2.534437,0.251214,0.356403,0.240318,42.013371
min,1.000000,2.017091e+09,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,-13.584859,-3.181688,0.303169,0.000000,0.016632,0.004220,0.010774,-99.512959
25%,1066.000000,2.019092e+09,5.000000,31.000000,143.000000,271.000000,781.000000,0.000000,6.000000,0.000000,...,0.000000,0.000000,-0.555393,0.321778,3.729489,2.000000,0.563577,0.242905,0.455587,-42.002107
50%,2125.000000,2.021102e+09,9.000000,50.000000,389.000000,786.000000,1800.000000,0.000000,11.000000,0.000000,...,0.000000,1.000000,0.000000,0.597741,4.605849,3.000000,0.984605,0.488689,0.598752,4.036090
75%,3195.000000,2.023103e+09,14.000000,70.000000,654.000000,1287.000000,2591.000000,0.000000,17.000000,0.000000,...,0.000000,1.000000,0.519480,0.976145,6.797149,5.000000,1.000000,0.999203,0.856647,33.489546
max,5921.000000,2.025110e+09,22.000000,99.000000,900.000000,1800.000000,3600.000000,1.000000,38.000000,1.000000,...,1.000000,1.000000,8.882384,9.585749,30.100439,48.000000,1.000000,1.000000,0.998187,97.995057

<br>
<br>
The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- **HomeWin** : Result of the game: 1=Homewin, 0=Tie/AwayWin. Calculation with CSV-Columns: "home_score", "away_score"

**IVs**:
- Passing Offense : **Differential Passing EPA** (Difference in expected points added per passing play. Calculation with CSV-Columns: "pass_attempt", "posteam", "defteam", "epa")
- Running Offense : **Differential Rushing EPA** (Difference in expected points added per rushing play. Calculation with CSV-Columns: "rush_attempt", "posteam", "defteam", "epa")
- Situational Offense : **Differential Red Zone Score %** (Difference in points scored inside the opponent's 20-yard line. Calculation with CSV-Columns:"yardline_100", "posteam", "touchdown", "field_goal_result", "field_goal_attempt"
)
- Defensive Pressure : **Differential Sack Rate** (Difference in sacks divided by pass attempts. Calculation with CSV-Columns: "sack", "pass_attempt", "posteam", "defteam")
- Defensive Coverage : **Differential Defensive Pass EPA** (Difference in EPA allowed by the defense on passing plays. Calculation with CSV-Columns:"pass_attempt", "epa", "defteam")
- Turnover/Ball Security : **Differential Turnover Margin** (Difference in Takeaways minus Giveaways. Calculation with CSV-Columns: "interception", "fumble_lost", "posteam", "defteam")
- Situational Defense : **Differential 3rd Down Conversion %** (Difference in opponent's 3rd Down Success Rate. Calculation with CSV-Columns: "third_down_converted", "third_down_failed", "posteam")
- Special Teams : **Differential Field Goal EPA** (Difference in expected points added from field goal attempts. Calculation with CSV-Columns: "field_goal_attempt", "field_goal_result", "epa", "posteam")
- Game Control : **Differential Time of Possession (TOP)** (Difference in minutes of ball control. Calculation with CSV-Columns: "drive_time_of_possession", "drive", "posteam", "game_id")
- Discipline : **Differential Penalty Yards** (Difference in total penalty yards assessed. Calculation with CSV-Columns: "penalty_yards", "penalty_team", "game_id")


<br>
<br>

Let's calculate the DV and IVS and use rename function to give the columns simpler variable names:

In [4]:
import numpy as np
import pandas as pd
# Dependent Variable (DV): Home Win
game_results = df_plays.groupby('game_id').agg(
    home_team=('home_team', 'first'),
    away_team=('away_team', 'first'),
    home_score=('home_score', 'max'),
    away_score=('away_score', 'max')
).reset_index()
game_results['home_win'] = (game_results['home_score'] > game_results['away_score']).astype(int)
# Independent Variables (IVs)
def safe_mean(x):
    return np.nan if len(x) == 0 else np.mean(x)
# 1. Passing Offense: Differential Passing EPA
pass_offense = (
    df_plays[df_plays['pass_attempt'] == 1]
    .groupby(['game_id', 'posteam'], as_index=False)['epa']
    .mean()
    .pivot(index='game_id', columns='posteam', values='epa')
)
# 2. Running Offense: Differential Rushing EPA
rush_offense = (
    df_plays[df_plays['rush_attempt'] == 1]
    .groupby(['game_id', 'posteam'], as_index=False)['epa']
    .mean()
    .pivot(index='game_id', columns='posteam', values='epa')
)
# 3. Situational Offense: Differential Red Zone Score %
red_zone = df_plays[df_plays['yardline_100'] <= 20].copy()
rz_scores = (
    red_zone.groupby(['game_id', 'posteam'], as_index=False)
    .apply(lambda g: (g['touchdown'].sum() + g['field_goal_result'].isin(['made']).sum()) / len(g), include_groups=False)
    .rename(columns={None: 'rz_score'})
)
rz_scores = rz_scores.pivot(index='game_id', columns='posteam', values='rz_score')
# 4. Defensive Pressure: Differential Sack Rate
df_sack = (
    df_plays.groupby(['game_id', 'defteam'], as_index=False)
    .apply(lambda g: g['sack'].sum() / max(1, g['pass_attempt'].sum()), include_groups=False)
    .rename(columns={None: 'sack_rate'})
)
df_sack = df_sack.pivot(index='game_id', columns='defteam', values='sack_rate')
# 5. Defensive Coverage: Defensive Pass EPA
def_pass = (
    df_plays[df_plays['pass_attempt'] == 1]
    .groupby(['game_id', 'defteam'], as_index=False)['epa']
    .mean()
    .pivot(index='game_id', columns='defteam', values='epa')
)
# 6. Turnover Margin
turnovers = (
    df_plays.groupby(['game_id', 'posteam'], as_index=False)
    .apply(lambda g: (g['interception'].sum() + g['fumble_lost'].sum()) * -1, include_groups=False)
    .rename(columns={None: 'turnover_margin'})
)
turnovers = turnovers.pivot(index='game_id', columns='posteam', values='turnover_margin')
# 7. Third Down Conversion %
third_downs = (
    df_plays[(df_plays['third_down_converted'] == 1) | (df_plays['third_down_failed'] == 1)]
    .groupby(['game_id', 'posteam'], as_index=False)
    .apply(lambda g: g['third_down_converted'].sum() / max(1, len(g)), include_groups=False)
    .rename(columns={None: 'third_down_conv'})
)
third_downs = third_downs.pivot(index='game_id', columns='posteam', values='third_down_conv')
# 8. Special Teams: Field Goal EPA
fg_plays = (
    df_plays[df_plays['field_goal_attempt'] == 1]
    .groupby(['game_id', 'posteam'], as_index=False)['epa']
    .mean()
    .pivot(index='game_id', columns='posteam', values='epa')
)
# 9. Time of Possession
if 'drive_time_of_possession' in df_plays.columns:
    top = (
        df_plays.groupby(['game_id', 'posteam'], as_index=False)['drive_time_of_possession']
        .sum()
        .pivot(index='game_id', columns='posteam', values='drive_time_of_possession')
    )
else:
    top = (
        df_plays.groupby(['game_id', 'posteam'], as_index=False)['drive']
        .count()
        .pivot(index='game_id', columns='posteam', values='drive')
    )
# 10. Penalty Yards
penalties = (
    df_plays.groupby(['game_id', 'posteam'], as_index=False)['penalty_yards']
    .sum()
    .pivot(index='game_id', columns='posteam', values='penalty_yards')
)
# Prepare metrics per game in intermediate table
iv_frames = [pass_offense, rush_offense, rz_scores, df_sack, def_pass,
              turnovers, third_downs, fg_plays, top, penalties]
iv_names = ['pass_off', 'rush_off', 'rz', 'sack', 'def_pass',
            'turnover', 'third_down', 'fg', 'top', 'pen']
# Numerical conversion, data cleansing
iv_combined = {}
for name, df_iv in zip(iv_names, iv_frames):
    df_iv = df_iv.apply(pd.to_numeric, errors='coerce')  # Strings -> NaN
    iv_combined[name] = df_iv
def get_diff(row, df_iv):
    gid = row['game_id']
    if gid not in df_iv.index:
        return np.nan
    home, away = row['home_team'], row['away_team']
    if home in df_iv.columns and away in df_iv.columns:
        val_home = df_iv.at[gid, home]
        val_away = df_iv.at[gid, away]
        # If strings are still present, convert them to NaN
        try:
            val_home = float(val_home)
            val_away = float(val_away)
        except (ValueError, TypeError):
            return np.nan
        return val_home - val_away
    else:
        return np.nan
# Calc differentials
for name, df_iv in iv_combined.items():
    game_results[f'diff_{name}'] = game_results.apply(lambda r: get_diff(r, df_iv), axis=1)
# Final Dataset
df = game_results.copy()
print(f"\n Created df_game_iv with {len(df)} games and {len(df.columns)} columns.")
display(df.head())
df.describe()

 Created df_game_iv with 2344 games and 16 columns.

,game_id,home_team,away_team,home_score,away_score,home_win,diff_pass_off,diff_rush_off,diff_rz,diff_sack,diff_def_pass,diff_turnover,diff_third_down,diff_fg,diff_top,diff_pen
0,2017_01_ARI_DET,DET,ARI,35,23,1,0.154381,0.141529,0.050000,-0.002727,-0.154381,3.0,0.100000,3.013248,NaN,-77.0
1,2017_01_ATL_CHI,CHI,ATL,17,23,0,-0.580534,0.453888,-0.106061,-0.028409,0.580534,0.0,-0.069930,1.777357,NaN,-13.0
2,2017_01_BAL_CIN,CIN,BAL,0,20,0,-0.796996,0.051482,-0.214286,-0.083333,0.796996,-4.0,-0.120879,NaN,NaN,-23.0
3,2017_01_CAR_SF,SF,CAR,3,23,0,-0.522071,-0.285847,-0.272727,-0.102564,0.522071,0.0,-0.356643,0.767280,NaN,6.0
4,2017_01_IND_LA,LA,IND,46,9,1,1.361458,-0.047786,0.066667,0.127742,-1.361458,4.0,0.357143,3.094148,NaN,30.0

,home_score,away_score,home_win,diff_pass_off,diff_rush_off,diff_rz,diff_sack,diff_def_pass,diff_turnover,diff_third_down,diff_fg,diff_top,diff_pen
count,2344.000000,2344.000000,2344.000000,2344.000000,2344.000000,2305.000000,2344.000000,2344.000000,2344.000000,2344.000000,1815.000000,0.0,2344.000000
mean,23.779010,21.927474,0.546075,0.004256,-0.010811,0.002372,0.002782,-0.004256,0.045648,0.019409,0.112704,NaN,2.268771
std,10.154494,9.842457,0.497979,0.464265,0.288061,0.122416,0.070155,0.464265,1.768520,0.194559,1.719014,NaN,36.708171
min,0.000000,0.000000,0.000000,-1.589303,-1.801176,-0.863636,-0.423077,-2.159788,-6.000000,-0.651515,-6.347030,NaN,-122.000000
25%,17.000000,16.000000,0.000000,-0.306462,-0.200528,-0.068182,-0.040078,-0.300871,-1.000000,-0.113636,-0.778405,NaN,-22.000000
50%,24.000000,21.000000,1.000000,0.000171,-0.021433,0.000000,0.001951,-0.000171,0.000000,0.018296,0.105750,NaN,2.000000
75%,30.000000,28.000000,1.000000,0.300871,0.177973,0.071429,0.046379,0.306462,1.000000,0.150000,0.921132,NaN,26.000000
max,70.000000,59.000000,1.000000,2.159788,0.950608,0.846154,0.310345,1.589303,6.000000,0.686869,6.267906,NaN,150.000000